# TA session #02

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets

import warnings
warnings.filterwarnings('ignore')

Load dataset.

In [2]:
data = pd.read_csv('Data/Credit.csv', index_col=0)
data.head()

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

# 1. EDA

In [3]:
#TODO

# 2. KNN

In [4]:
def classify_knn(n_neighbors, predictor_1, predictor_2):
    X = None # input variables here
    y = None # output variables here
    
    
    clf = neighbors.KNeighborsClassifier(n_neighbors)
    clf.fit(X, y)
    y_pred = clf.predict(X)

    h = 0.5

    cmap_light = ListedColormap(['#FFAAAA', '#AAFFAA'])
    cmap_bold = ListedColormap(['#FF0000', '#00FF00'])

    x_min, x_max = X[predictor_1].min() - 1, X[predictor_1].max() + 1
    y_min, y_max = X[predictor_2].min() - 1, X[predictor_2].max() + 1
    xx, yy = np.meshgrid(np.arange(x_min, x_max, h), np.arange(y_min, y_max, h))
    Z = clf.predict(np.c_[xx.ravel(), yy.ravel()]).reshape(xx.shape)

    score = clf.score(data[[predictor_1, predictor_2]].iloc[:10], 
                      np.array([int(i > 400) for i in data['Balance'].iloc[:10]]))
    
    plt.figure()
    plt.pcolormesh(xx, yy, Z, cmap=cmap_light)
    plt.scatter(X[predictor_1], X[predictor_2], c=y_pred, cmap=cmap_bold, s=10)
    plt.title('K=%i, Accuracy=%.1f' %(n_neighbors, score))
    plt.xlim(xx.min(), xx.max())
    plt.ylim(yy.min(), yy.max())
    plt.show()

In [5]:
#TODO

# 1. Train/Test Split

In [6]:
#TODO

# 2. Overfitting

In [7]:
#TODO

# 3. Feature selection

In [8]:
# TODO

# Extra Tasks

In [9]:
data = pd.read_csv('Data/Boston.csv', index_col=0)
data.head()

,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
crim,,,,,,,,,,,,,
0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2